<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="http://drive.google.com/uc?export=view&id=14rGa57Q6jnswUSL2ZRnk6RO7TzJpLM9D" type="image/x-icon"/>
    <link rel="shortcut icon" href="http://drive.google.com/uc?export=view&id=14rGa57Q6jnswUSL2ZRnk6RO7TzJpLM9D" type="image/x-icon">
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
      * {
          font-family: 'Rubik', sans-serif;
      }
      body {
          padding: 0;
          margin: 0;
      }
      .footer{
      background-color: #F24F8A !important;
      color: white;
      padding: 25px;
      }
      .jumbotron {
          border-radius: 0% !important;
          padding: 25px;
          background-color: #57CAD5;
          color: black;
          height: 370px;
          text-align: center;
      }
      .btn {
          padding: 5px;
          border: 1px solid #F24F8A;
          border-radius: 25px;
          background-color: #F24F8A;
          color: white;
          text-align: center;
          width: 200px;
          margin: 10px auto;
      }
      .btn:hover{
          transform: scale(1.02);
      }
      </style>
      <title>Aktivasi Akun</title>
  </head>
  <body>
      <div>
          <div class="jumbotron">
            <h1>Your account has been activated</h1>
            <button class="btn"><a role="button" href="http://localhost:8080/login" style="text-decoration: none; color: white;">Login</a></button>
          </div>
          <div class="footer">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>In euismod ipsum et dui rhoncus auctor.</p>
              <hr style="background-color: white;">
              <p>2020 Food POS App. All right reserved</p>
          </div>
        </div>
      </body>
  </html>